.home {
	display: flex;
	align-items: center;
	padding-top: 80px;
	min-height: 100vh;
	overflow: hidden;
}

.container {
	max-width: 1300px;
	padding: 0 20px 30px;
	margin: 0 auto;
	z-index: 50;
}

.inner {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 50px;
}

.content {
	color: #fff;
}

.content p {
	font-size: 16px;
	margin-bottom: 30px;
	max-width: 600px;
	line-height: 1.4;
}

.content p:first-child {
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 0;
}

.content h1 {

	font-weight: 700;
	font-size: 56px;
	line-height: 1.3;
}

.content h3 {
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 20px;
}

.content span {
	color: #0ef;
}



.social {
	display: flex;
	align-items: center;
	gap: 15px;
	margin-bottom: 30px;
}

.socialLink {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
	/* font-size: 2rem; */
	border: 2px solid #0ef;
	border-radius: 50%;
	color: #0ef;
	transition: all 0.3s ease-in-out;
}

.socialLink:hover {
	color: #323946;
	background: #0ef;
	box-shadow: 0 0 10px #0ef;
}

.img {
	position: relative;
	top: -15px;

}


@media(max-width:1050px) {
	.img {
		width: 400px;
		height: auto;
		top: 0;
	}
}

@media(max-width:920px) {
	.home__inner {
		flex-direction: column-reverse;
		gap: 20px;
	}


	.content p:first-child {
		font-size: 26px;
	}

	.content h3 {
		font-size: 26px;
	}

	.content h1 {
		font-size: 50px;
	}


	.inner {
		flex-direction: column-reverse;
	}
}

@media(max-width: 580px) {
	.home {
		margin-bottom: 30px;
	}
}

@media(max-width: 430px) {


	.content h1 {
		font-size: 40px;
	}

	.content p:first-child {
		font-size: 24px;

	}

	.content h3 {
		font-size: 22px;

	}


	.img {
		width: 350px;

	}
}

@media(max-width: 380px) {
	.img {
		width: 330px;

	}

}

@media(max-width: 350px) {
	.img {
		width: 300px;

	}

	.content h3 {
		font-size: 20px;

	}

	.content h1 {
		font-size: 36px;
		margin-bottom: 5px;
	}

	.content p:first-child {
		font-size: 22px;

	}
}

@media(max-width: 320px) {
	.img {
		width: 280px;

	}

	.content h3 {
		font-size: 18px;

	}

	.content h1 {
		font-size: 34px;
		margin-bottom: 5px;
	}

	.content p:first-child {
		font-size: 20px;

	}
}