@font-face {
	font-family: 'Goffik-Outline';
	src: url('fonts/Goffik-Outline.woff2') format('woff2'),
		url('fonts/Goffik-Outline.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Orbitron';
	src: url('fonts/Orbitron-Black.woff2') format('woff2'),
		url('fonts/Orbitron-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}



.hero {

	z-index: 50;
	display: flex;
	height: 100vh;
	align-items: center;
	overflow: hidden;
}

.contentBox {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0 56px;
	width: 100%;

	z-index: 20;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	margin: auto;
	gap: 20px;
	width: 100%;
	height: 100%;

}



.titleBox {
	width: 600px;
}

.underline {
	position: relative;
	display: inline-block;
	height: 3px;
	width: 90%;
	background: linear-gradient(to right, transparent -3%, rgba(0, 238, 255, 0.5) 80%, rgba(0, 238, 255, 0.9) 100%)
}

.underline::after {
	content: '';
	position: absolute;
	right: -2px;
	top: -4px;
	width: 11px;
	height: 11px;
	background: #0ef;
	border-radius: 50%;
	box-shadow: 0 0 17px #fff, 0 0 14px #0ef, 0 0 9px #0ef, 0 0 4px #fff;
}

/* .titleBox {
	isolation: isolate;
	overflow: hidden;
	align-items: center;
	-webkit-backdrop-filter: blur(6px);
	backdrop-filter: blur(6px);
	border: 1px solid #7042f88b;
	border-radius: 32px;
	box-shadow: inset 0 -7px 11px #a48fff1f;
	display: flex;
	padding: 0 20px;
	position: relative;
	width: -moz-max-content;
	width: -webkit-max-content;
	width: max-content;
	opacity: 0.9;
	transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) box-shadow;
} */

.title {
	font-size: 100px;
	font-weight: 900;
	text-transform: uppercase;
	font-family: 'Orbitron', sans-serif;
	background: linear-gradient(90.01deg, #581c87, #22d3ee);
	background-blend-mode: normal, screen;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;

}

.title span {
	font-style: italic;
	font-size: 109px;
	font-family: 'Goffik-Outline', sans-serif;

}



.subTitleBox {
	display: flex;
	margin-top: 25px;
	max-width: 600px;
	height: auto;

}

.subTitleBox p {
	font-size: 45px;
	font-weight: 700;
	line-height: 1.25;
	color: rgba(255, 255, 255, 0.8);
	background: linear-gradient(90deg, #22d3ee, #581c87);
	background-blend-mode: normal, screen;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}





.description {
	font-size: 18px;
	color: #9ca3af;
	margin: 20px 0;
	max-width: 600px;
}



.logoBox {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	height: 100%;
}

.logoBox .bgLogo {
	height: 100%;
	width: 100%;
}

.logoBox .mainLogo {
	position: absolute;
	height: 100%;
	width: 100%;
}



.buttonPrimary {
	padding: 8px 0;
	text-align: center;
	color: #fff;
	cursor: pointer;
	border-radius: 8px;
	width: 200px;
	background: linear-gradient(180deg, rgba(60, 8, 126, 0) 0%, rgba(60, 8, 126, 0.32) 100%), rgba(113, 47, 255, 0.12);
	box-shadow: inset 0 0 12px #bf97ff3d;
	text-transform: uppercase;
	transition: background 0.3s, box-shadow 0.3s;
}

.buttonPrimary:hover {
	background: linear-gradient(180deg, rgba(60, 8, 126, 0) 0%, rgba(60, 8, 126, 0.42) 100%), rgba(113, 47, 255, 0.24);
	box-shadow: inset 0 0 12px #bf97ff70;
}

@media (max-width: 1050px) {
	.logoBox {
		display: none;
	}

	.titleBox {
		width: 100%;
	}

	.title {

		font-size: 130px;
	}

	.title span {
		font-size: 140px;
	}

	/* .subTitleBox {
		margin-top: 60px;
	} */

	.content {
		text-align: center;
		align-items: center;
	}
}



@media (max-width: 860px) {

	.title {

		font-size: 115px;
	}

	.title span {
		font-size: 125px;
	}


}

@media (max-width: 768px) {

	.title {

		font-size: 100px;
	}

	.title span {
		font-size: 108px;
	}


}

@media (max-width: 660px) {

	.title {

		font-size: 92px;
	}

	.title span {
		font-size: 100px;
	}

	.subTitleBox p {
		font-size: 40px;
	}


}

@media (max-width: 570px) {

	.title {

		font-size: 84px;
	}

	.title span {
		font-size: 90px;
	}




}

@media (max-width: 520px) {

	.title {

		font-size: 74px;
	}

	.title span {
		font-size: 80px;
	}

	.subTitleBox p {
		font-size: 32px;
	}



}

@media (max-width: 460px) {

	.title {

		font-size: 65px;
	}

	.title span {
		font-size: 70px;
	}

	.description {
		font-size: 16px;
	}



}

@media (max-width: 420px) {

	.title {

		font-size: 60px;
	}

	.title span {
		font-size: 64px;
	}

	.subTitleBox p {
		font-size: 28px;
	}



}

@media (max-width: 380px) {

	.title {

		font-size: 53px;
	}

	.title span {
		font-size: 57px;
	}

	.subTitleBox p {
		font-size: 25px;
	}



}

@media (max-width: 340px) {

	.title {

		font-size: 48px;
	}

	.title span {
		font-size: 51px;
	}

	.subTitleBox p {
		font-size: 24px;
	}



}