.contacts {

	padding-bottom: 50px;
	display: flex;
	align-items: center;
	/* background: $second-bg-color; */
	color: #fff;
	/* padding-bottom: 80px; */
	min-height: 100vh;
	overflow: hidden;
	/* border-bottom: 1px solid #090032; */
}

/* .inner {} */

.container {
	max-width: 1300px;
	margin-top: 50px;
	padding: 0 20px;
	margin: 0 auto;
	z-index: 50;
}

.title {
	/* padding-top: 20px; */
	font-size: 45px;
	line-height: 1.2;
	text-transform: capitalize;
	padding-bottom: 150px;
	text-align: center;

}

.title span {
	color: #0ef;
}

.contactsCard {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 150px;
	/* justify-content: space-around; */
	/* flex-wrap: wrap; */
	/* align-items: center; */
	/* width: 700px; */
}

.cardItem {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

}

.cardLink,
.icon {
	cursor: pointer;
	z-index: 50;
	color: #0ef;
	transition: all .4s;
}

.icon:hover {
	color: #0ef;
	filter: drop-shadow(0 0 6px #0ef);
	transform: scale(1.1);
}

.ringItem {
	width: 170px;
	height: 170px;
	border: 0px solid #090032;
	border-radius: 50%;
	position: absolute;
}

.ringItem:nth-child(1) {
	border-bottom-width: 8px;
	border-color: #9000ff;
	-webkit-animation: ring-rotate-1 2s linear infinite;
	animation: ring-rotate-1 2s linear infinite;
}

.ringItem:nth-child(2) {
	border-right-width: 8px;
	border-color: #00cafd;
	-webkit-animation: ring-rotate-2 2s linear infinite;
	animation: ring-rotate-2 2s linear infinite;
}

.ringItem:nth-child(3) {
	border-top-width: 8px;
	border-color: #2400c4;
	-webkit-animation: ring-rotate-3 2s linear infinite;
	animation: ring-rotate-3 2s linear infinite;
}


@keyframes ring-rotate-1 {
	0% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}

	100% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@keyframes ring-rotate-2 {
	0% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}

	100% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@keyframes ring-rotate-3 {
	0% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}

	100% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@media(max-width: 380px) {


	.title {
		font-size: 40px;
	}

	.icon {
		width: 40px;
		height: 40px;
	}

	.ringItem {
		width: 150px;
		height: 150px;
	}
}

@media(max-width: 350px) {
	.contactsCard {

		grid-template-columns: 1fr;
		padding-bottom: 30px;
	}
}

@media(max-width: 320px) {


	.title {
		font-size: 34px;
	}

}