
.main{
  width: 100%;
  height: 100%;
}
.container {
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
  
}
/* .videoBox{
	position: relative;


	width: 100%;
}
.video {
  position: absolute;
  left: 0;
  top: -43%;
  height: 100%;
  width: 100%;
  
  padding: 0;
  transform: rotate(180deg);
  object-fit: cover;
  opacity: 0.7;
  z-index: 1;
} */
.starsCanv{
	position: fixed;
	inset: 0px;
	width: 100%;
	height: auto;
	z-index: 20;
}